<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dm4nk.gym_notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymApp">
        <activity
            android:name="com.dm4nk.gym_notes.UpdateActivity"
            android:exported="true"
            android:parentActivityName="com.dm4nk.gym_notes.MainActivity"/>
        <activity
            android:name="com.dm4nk.gym_notes.AddActivity"
            android:exported="true"
            android:label="Add Exercise"
            android:parentActivityName="com.dm4nk.gym_notes.MainActivity" />
        <activity
            android:name="com.dm4nk.gym_notes.CalculatorActivity"
            android:exported="true"
            android:label="Calculator"
            android:parentActivityName="com.dm4nk.gym_notes.MainActivity" />
        <activity
            android:name="com.dm4nk.gym_notes.MainActivity"
            android:exported="true"
            android:label="Gym Notes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>